doctype html
html(data-ng-app='app')
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet' type='text/css' href='/css/admin/bootstrap.css')
        link(rel='stylesheet' type='text/css' href='/css/admin/animate.css')
        link(rel='stylesheet' type='text/css' href='/css/admin/font.css')
        link(rel='stylesheet' type='text/css' href='/css/admin/font-awesome.min.css')
        link(rel='stylesheet' type='text/css' href='/css/admin/simple-line-icons.css')
        link(rel='stylesheet' type='text/css' href='/css/admin/app.css')
        link(rel='stylesheet' type='text/css' href='/css/admin/style.css')
    body(ng-controller='AdminAppCtrl')
        #app.app(ui-view ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}")
        script(type='text/javascript' src='/vendor/jquery/jquery.min.js')
        script(type='text/javascript' src='/vendor/angular/angular.js')
        script(type='text/javascript' src='/vendor/angular/angular-animate/angular-animate.js')
        script(type='text/javascript' src='/vendor/angular/angular-cookies/angular-cookies.js')
        script(type='text/javascript' src='/vendor/angular/angular-resource/angular-resource.js')
        script(type='text/javascript' src='/vendor/angular/angular-sanitize/angular-sanitize.js')
        script(type='text/javascript' src='/vendor/angular/angular-touch/angular-touch.js')
        script(type='text/javascript' src='/vendor/angular/angular-ui-router/angular-ui-router.js')
        script(type='text/javascript' src='/vendor/angular/ngStorage/ngStorage.js')
        script(type='text/javascript' src='/vendor/angular/angular-breadcrumb/angular-breadcrumb.min.js')
        script(type='text/javascript' src='/vendor/angular/angular-bootstrap/ui-bootstrap-tpls.js')
        script(type='text/javascript' src='/vendor/angular/oclazyload/oclazyLoad.js')
        script(type='text/javascript' src='/vendor/angular/angular-translate/angular-translate.js')
        script(type='text/javascript' src='/vendor/angular/angular-translate/loader-static-files.js')
        script(type='text/javascript' src='/vendor/angular/angular-translate/storage-cookie.js')
        script(type='text/javascript' src='/vendor/angular/angular-translate/storage-local.js')
        script(type='text/javascript' src='/js/admin/app.js')
        script(type='text/javascript' src='/js/admin/config.js')
        script(type='text/javascript' src='/js/admin/router.js')
        script(type='text/javascript' src='/js/admin/main.js')
        script(type='text/javascript' src='/js/admin/services/ui-load.js')
        script(type='text/javascript' src='/js/admin/services/pagination.js')
        script(type='text/javascript' src='/js/admin/filters/fromNow.js')
        script(type='text/javascript' src='/js/admin/directives/setnganimate.js')
        script(type='text/javascript' src='/js/admin/directives/ui-butterbar.js')
        script(type='text/javascript' src='/js/admin/directives/ui-focus.js')
        script(type='text/javascript' src='/js/admin/directives/ui-fullscreen.js')
        script(type='text/javascript' src='/js/admin/directives/ui-jq.js')
        script(type='text/javascript' src='/js/admin/directives/ui-module.js')
        script(type='text/javascript' src='/js/admin/directives/ui-nav.js')
        script(type='text/javascript' src='/js/admin/directives/ui-scroll.js')
        script(type='text/javascript' src='/js/admin/directives/ui-shift.js')
        script(type='text/javascript' src='/js/admin/directives/ui-toggleclass.js')
        script(type='text/javascript' src='/js/admin/directives/ui-validate.js')
        script(type='text/javascript' src='/js/admin/controllers/bootstrap.js')
