ul.fix-bar
    li.arrow(data-toggle='tooltip', title='写新文章', data-placement='top'): a(href='/user/blogging/new'): i.fa.fa-pencil
    li.arrow(data-toggle='tooltip', title='意见反馈', data-placement='top'): a(href='/user/feedback'): i.fa.fa-comments
    li.arrow(data-toggle='tooltip', title='系统说明', data-placement='top'): a(href='/system'): i.fa.fa-question-circle
    li.arrow(data-toggle='tooltip', title='回到顶部', data-placement='top'): a(ng-click='MoveToTop()'): i.fa.fa-chevron-up
