.footer
    .container-fluid
        ul.navbar-inline
            li: a(href='/system#system') 系统简介
            li: a(href='/system#contact') 联系方式
            li: a(href='/system#copyright') 版权申明
            li: a(href='/user/feedback') 意见反馈
        hr.hr
        ul.navbar-inline
            //li
            //    i.fa.fa-male
            //    a(href='' title='官方博客') 官方博客
            li
                i.fa.fa-envelope
                span(title='邮箱') 15870608093@163.com
            li
                i.fa.fa-phone-square
                span(title='电话') 15870608093
            li
                i.fa.fa-qq
                span(title='QQ') 1696732332
        p Copyright &copy; 2017-2018, All Right Reserved