extends ../layout

block content
    .content-wrap.box-border(ng-controller='ForgotPasswordCtrl' resize ng-style='style(35)')
        h3 账号安全中心
        .tab-box(ng-if='step === 1')
            h4 邮箱验证
            form(name='Step1Form' ng-submit='emailValidate()')
                .form-group
                    span 邮箱：
                    input.form-control(type='email' name='email' placeholder='邮箱' ng-model='emaildata.email' required)
                    span.font-warn(ng-if='Step1Form.email.$touched && Step1Form.email.$error.required') 邮箱不为空
                    span.font-warn(ng-if='Step1Form.email.$invalid && Step1Form.email.$touched && !Step1Form.email.$error.required') 邮箱格式错误
                    span.success(ng-if='Step1Form.email.$valid'): i.fa.fa-check
                .form-group
                    span 验证码：
                    input.form-control.validate-input(type='text' placeholder='验证码' ng-model='emaildata.vCode' required)
                    a.arrow.validate-btn(ng-click='changeCode($event.target)' title='看不清，换一张'): img(src='/getValidateCode?t=' + Date.now())
                .form-group
                    span 邮箱验证码：
                    input.form-control.validate-input(type='text' placeholder='邮箱验证码' ng-model='emaildata.emailVCode' required)
                    button.btn.btn-primary.validate-btn(type='button' ng-click='getCode($event.target)') 获取验证码
                .form-group.text-right
                    button.btn.btn-primary(type='submit' ng-disabled='Step1Form.$invalid') 下一步
        .tab-box(ng-if='step === 2')
            h4 新密码
            form(name='Step2Form' ng-submit='changePassword()')
                .form-group
                    span 新密码：
                    input.form-control(type='password' name='password' placeholder='新密码' ng-model='passworddata.password' ng-minlength='6' ng-maxlength='12' required)
                    span.font-warn(ng-if='Step2Form.password.$touched && Step2Form.password.$error.required') 密码不为空
                    span.font-warn(ng-if='Step2Form.password.$touched && (Step2Form.password.$error.minlength || Step2Form.password.$error.maxlength)') 密码长度错误
                    span.success(ng-if='Step2Form.password.$valid'): i.fa.fa-check
                .form-group
                    span 确认密码：
                    input.form-control(type='password' name='password2' placeholder='确认密码' ng-model='passworddata.password2' required compare='passworddata.password')
                    span.font-warn(ng-if='Step2Form.password2.$error.compare && Step2Form.password2.$touched') 密码不一致
                    span.fong-warn(ng-if='Step2Form.password2.$error.$error.required && Step2Form.password2.$touched') 密码不为空
                    span.success(ng-if='Step2Form.password2.$valid && Step2Form.password2.$touched'): i.fa.fa-check
                .form-group
                    span 验证码：
                    input.form-control.validate-input(type='text' placeholder='验证码' ng-model='passworddata.vCode')
                    a.arrow(ng-click='changeCode($event.target)' title='看不清，换一张'): img(src='/getValidateCode?t=' + Date.now())
                .form-group.text-right
                    button.btn.btn-success(type='submit' ng-disabled='Step2Form.$invalid') 提&nbsp;交
        .tab-box(ng-if='step === 3')
            h4 修改成功
            .clearfix.info-box
                p.pull-left
                    | 您已成功修改密码，请
                    a.text-success(href='/login' title='前往登录') 前往登录
                a.pull-right(href='/' title='前往主页'): img(src='/images/register-success.jpg')
    include ../footer