
extends ../layout
block append scripts
    script(type='text/javascript' src='/js/app.user.js')
block content
    .content-wrap.clearfix(ng-style="style()" resize)
        form.box-border.register-form.pull-left(name='passwordForm' ng-controller='ChangePasswordCtrl' ng-submit='submit()')
            h3.form-heading 修改密码
            .form-group
                input.form-control(placeholder='旧密码' type='password' name='oldPassword' ng-model='password.oldPassword' required ng-mimlength='6' ng-maxlength='12')
                span.notes(ng-if='passwordForm.oldPassword.$untouched') 密码为6~12个字符
                span.font-warn(ng-if= '(passwordForm.oldPassword.$error.minlength || signUpForm.oldPassword.$error.maxlength) && passwordForm.oldPassword.$touched') 请输入旧密码
                span.font-warn(ng-if= 'passwordForm.oldPassword.$error.required && signUpForm.oldPassword.$touched') 密码不为空
                span.success(ng-if='passwordForm.oldPassword.$valid'): i.fa.fa-check
            .form-group
                input.form-control(placeholder='新密码' type='password' name='newPassword' ng-model='password.newPassword' required ng-minlength='6' ng-maxlength='12')
                span.notes(ng-if='passwordForm.newPassword.$untouched') 密码为6~12个字符
                span.font-warn(ng-if= '(passwordForm.newPassword.$error.minlength || signUpForm.newPassword.$error.maxlength) && passwordForm.newPassword.$touched') 请输入6~12个字符
                span.font-warn(ng-if= 'passwordForm.newPassword.$error.required && signUpForm.newPassword.$touched') 密码不为空
                span.success(ng-if='passwordForm.newPassword.$valid'): i.fa.fa-check
            .form-group
                input.form-control(placeholder='确认密码' type='password' name='password2' ng-model='password.password2' required compare='password.newPassword')
                span.notes(ng-if='passwordForm.password2.$untouched') 确认密码一致
                span.font-warn(ng-if='passwordForm.password2.$error.compare && passwordForm.password2.$touched') 密码不一致
                span.fong-warn(ng-if='passwordForm.password2.$error.required && passwordForm.password2.$touched') 密码不为空
                span.success(ng-if='passwordForm.password2.$valid && passwordForm.password2.$touched'): i.fa.fa-check
            .form-group
                button.btn.btn-success.register-submit(type='submit' ng-disabled='passwordForm.$invalid') 修&nbsp;改
                button.btn.btn-default.register-reset(type='reset' ng-disabled='passwordForm.$untouched') 重&nbsp;置
            .form-grouper
        a(href='/' title='主页'): img.register-img.pull-right(src='/images/register.jpg')
    include ../footer